<div class="card m-3">
  <h1 class="badge bg-primary text-wrap" style="font-size: 2rem;">Micro-Instagram</h1>
  <p>    
    <button class="btn btn-outline-primary btn-md"
            [routerLink]="['/photos/create']"><b>Create Photo</b></button>
  </p>
  <div class="card-header" *ngFor="let photo of photos | async">
    <button class="btn btn-outline-danger" title="PhotoDelete" (click)="deletePhotoById(photo.id)"><b>Delete</b></button>&nbsp;
    <button class="btn btn-outline-success" title="PhotoEdit" 
            [routerLink]="['/photos/edit', photo.id]"><b>E d i t</b></button>
    <h5 class="card-title">{{photo.title}}</h5> 
    <a [routerLink]="['/photos', photo.id]">
      <img class="img-thumbnail" [src]="photo.thumbnailUrl" />
    </a>
  </div>
  <p>    
    <button class="btn btn-outline-primary btn-md" (click)="loadMore()"><b>Load More</b></button>
  </p>
</div>
