<div class="card">
  <h1>Micro-Instagram</h1>
  <p>    
    <button class="btn btn-outline-primary btn-sm"
            [routerLink]="['/photos/create']">Create Photo</button>
  </p>
  <div class="card-header" *ngFor="let photo of photos | async">
    <button class="delete" title="PhotoDelete" (click)="deletePhotoById(photo.id)">Delete</button>
    <h3>{{photo.title}}</h3> 
    <a [routerLink]="['/photos', photo.id]">
      <img class="center-block img-responsive" [src]="photo.thumbnailUrl" />
    </a>
  </div>
</div>
